.item-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.item-card img {
  background-clip: content-box;
  background-position: center;
  background-size: cover;
  width: 250px;
}

.item-card h3 {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.card-container {
  margin: 0.3rem;
  margin-bottom: 5rem;
}

.card-container button {
  background: white;
  border: none;
  margin: 0.4rem;
}

.card-container button img {
  border-bottom: 0.75px solid rgb(102, 102, 102);
  margin: 0.6rem;
  padding: 0.6rem;
}

.card-container button h6 {
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-around;
  margin: 1rem;
  margin-bottom: 0;
}

.filters select {
  background-color: rgb(253, 208, 166);
  border: none;
  border-radius: 0.3rem;
  color: rgb(255, 70, 2);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  width: 18rem;
}

.filters select option {
  color: rgb(42, 42, 42);
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;
}

.card-container-origem {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  margin-bottom: 5rem;
}

.card-container-origem button {
  background: white;
  border: none;
  margin: 0.4rem;
}

.card-container-origem button img {
  margin: 0.6rem;
  padding: 0.5rem;
}

.card-container-origem button h6 {
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}
