.container-explore {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 10rem;
}

.container-explore button {
  align-items: center;
  background-color: rgba(255, 68, 0, 0.719);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #88888881;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: lowercase;
  width: 14rem;
}
