.bottom-menu {
  align-items: center;
  background-color: orange;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 360px;
}
