header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-flow: wrap;
  font-family: Ubuntu , sans-serif;
  height: 2.5rem;
  justify-content: space-between;
  margin-top: 0;
  padding: 0.5rem 1.2rem;
  width: 360px;
}

header h3 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

header img {
  height: 1.2rem;
}

header button {
  background-color: white;
  border: none;
}

.search-container {
  align-items: center;
  background-color: rgb(226, 226, 226);
  flex-wrap: wrap;
  font-family: Ubuntu , sans-serif;
  font-size: 15px;
  margin-top: 13px;
  padding: 0.5rem;
  position: relative;
  width: 360px;
}

.search-container button {
  background-color: rgb(173, 2, 2);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 3px 10px;
  text-align: center;
  text-transform: lowercase;
}

.search-container label {
  font-size: 15px;
  padding: 5px;
}

.search-container input {
  border: 0.5px solid rgb(173, 2, 2);
  border-radius: 5px;
  font-size: 15px;
}

.header-container {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  width: 360px;
}
