.login-container {
  align-items: center;
  background: linear-gradient(60deg, #b80202 0%, #ff9d00 100%);
  display: flex;
  flex-direction: column;
  font-family: Ubuntu , sans-serif;
  font-size: 15px;
  height: 100vh;
  justify-content: center;
  width: 360px;
}

.login {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-size: 15px;
  gap: 5px;
  justify-content: center;
  padding-top: 45px;
  width: 330px;
}

.login input {
  background-color: white;
  border: none;
  border-radius: 3px;
  flex-direction: column;
  height: 2.5em;
  padding-left: 5px;
  width: 300px;
}

label h5 {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.login button {
  align-items: center;
  background: rgba(255, 0, 0, 0.411);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(128, 69, 1, 0.253);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  height: 2.5em;
  justify-content: center;
  margin-top: 20px;
  width: 170px;
}

.login button:disabled {
  background: rgb(119, 47, 47);
  cursor: not-allowed;
}

.login-container img {
  align-items: center;
  display: flex;
  height: 5.5em;
}
